<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head('Thymeleaf 연습용')">

</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:replace="fragments/common :: menu('home')"> </nav>
      <main class="container">
      
        <div class="starter-template text-center py-5 px-3">
          <h1>게시판 만들기</h1>
          <p class="lead">CRUD, PAGING, LOGIN</p>
        </div>
      
      </main><!-- /.container -->
</body>
</html>